 

  <app-nav></app-nav>
  
  <!-- Promo advert -->
  <div class="mb-2">
    <div class="text-white bg-secondary"
      style="font-size: 25px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <marquee behavior="row" direction="left">
        <SPan class="text-light badge bg-warning"> PROMO! PROMO!! PROMO!!! </SPan>Enjoy Free Unlimited Delivery on <SPan
          class="text-warning"> EDDIE-FLEX</SPan>ONLINESTORE Amazing deals just for you Get 10% off every purchase with
        <span class="text-warning"> EDDIE-FLEX </span>
        loyalty card
      </marquee>
    </div>
  </div>

  
    <div class="container mb-5  ">
      <!-- <app-my-list></app-my-list> -->
      <div class="row">    
        <div class="col-4" *ngFor="let name of products"> 
          <app-my-card
           
          
          >

            <!-- amount: 2500, -->
            

        </app-my-card>
      </div>
        <!-- <div class="col-4"> <app-my-card></app-my-card></div> -->
        <!-- <div class="col-4"> <app-my-card></app-my-card></div> -->
    </div>
  </div>
        
        
     
  
  
  <!-- FOOOTER -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center p-2 bg-dark text-light border-bottom">
  
      <form action="submit">
        <div class="d-flex pt-2">
          <div class="col-auto">
            <p class="pt-1 mx-4">
              <strong style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Sign up for our
                newsletter</strong>
            </p>
          </div>
  
          <div class="col-md-5 col-12">
            <div class="form-outline form-white mb-1">
              <input type="email" id="form5Example21" class="form-control" placeholder="Email Address" />
            </div>
          </div>
  
          <div class="col-auto ">
            <button type="submit" class="btn btn-outline-warning mb-1 mx-3">
              Subscribe
            </button>
          </div>
        </div>
      </form>
      <!-- </div> -->
    </section>
  
  
  
    <app-footer></app-footer>